<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'receipts_functions', 'data-turbolinks-track': true %>
<%= csrf_meta_tags %>

<h1>Edit Receipt <%= @receipt.id %></h1>

<%= render partial: 'receipts/form' %>

<p><%= link_to "Home", root_path %></p>