<h1>New Receipt</h1>

<%= form_with model: @receipt do |form|%>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date, :value => Time.now.strftime("%Y-%m-%d") %>
    <% @receipt.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
    <% @receipt.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_income %><br>
    <%= form.check_box :is_income %>
    <% @receipt.errors.full_messages_for(:is_income).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <table>
    <tr>
      <th>Account</th>
      <th>Price</th>
      <th>Remove ?</th>
    </tr>
  <turbo-frame id="<%= form.field_id(:receipt_prices) %>" class="contents">
    <%#= render "receipt_details/new", receipt_detail: @receipt_detail %>
    <%= form.fields_for :receipt_prices do |price_form| %>
        <tr>
          <td><%= price_form.collection_select :account_id, Account.order(:name), :id, :name%></td>
          <% price_form.object.errors.full_messages_for(:account).each do |msg| %>
            <%= msg %>
          <% end %>
          <td><%= price_form.number_field :price, min: 0, step: 0.01 %></td>
          <% price_form.object.errors.full_messages_for(:price).each do |msg| %>
            <%= msg %>
          <% end %>
          <td>
          <% if price_form.object_id %>
            <%= price_form.check_box :_destroy, title: "Check to remove account" %>
          <% end %>
          </td>
        </tr>
    <% end %>
  </turbo-frame>
  </table>
  <% if @no_more_accounts_msg.present? %>
    <%= @no_more_accounts_msg %>
  <% end %>
  <% if @receipt.errors.has_key? :prices_mismatch %>
    <% @receipt.errors[:prices_mismatch].each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  <% if @receipt.errors.has_key? :duplicate_account %>
    <% @receipt.errors[:duplicate_account].each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  <%= form.submit "Add account",
                  formmethod: "post",
                  formaction: add_price_receipts_path(id: form.object),
                  data: { turbo_frame: form.field_id(:receipt_details)},
                  name: "add_price" %>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Remove ?</th>
    </tr>
  <turbo-frame id="<%= form.field_id(:receipt_details) %>" class="contents">
    <%#= render "receipt_details/new", receipt_detail: @receipt_detail %>
    <%= form.fields_for :receipt_details do |detail_form| %>
      <tr>
      <td><%= detail_form.text_field :name %></td>
      <td><%= detail_form.number_field :price, min: 0, step: 0.01 %></td>
      <td><%= detail_form.number_field :quantity, min: 1, step: 1 %></td>
      <td><%= detail_form.collection_select :receipt_category_id, ReceiptCategory.order(:name), :id, :name%></td>
      <td>
      <% if detail_form.object_id %>
        <%= detail_form.check_box :_destroy, title: "Check to delete detail" %>
      <% end %>
      </td>
        <% if detail_form.object.errors.present? %>
        <td>
          <% errors = detail_form.object.errors.full_messages
             errors.each_with_index do |error, index| %>
            <%= index.equal?(errors.size - 1) ? "#{error}" : "#{error},"%>
          <% end %>
        </td>
        <%  end %>
      </tr>
    <% end %>
  </turbo-frame>
  </table>
  <%= form.submit "Add detail",
                  formmethod: "post",
                  formaction: add_detail_receipts_path(id: form.object),
                  data: { turbo_frame: form.field_id(:receipt_details)},
                  name: "add_detail" %>

  <%= form.submit "Update form",
                  formmethod: "post",
                  formaction: update_form_receipts_path(id: form.object),
                  data: { turbo_frame: form.field_id(:receipt_details)},
                  name: "update_form" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<p><%= link_to "Home", root_path %></p>