<h1>New Receipt</h1>

<%= form_with model: @receipt do |form|%>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date, :value => Time.now.strftime("%Y-%m-%d") %>
    <% @receipt.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :total %><br>
    <%= form.number_field :total, min: 0, step: 0.01 %>
    <% @receipt.errors.full_messages_for(:total).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
    <% @receipt.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_income %><br>
    <%= form.check_box :is_income %>
    <% @receipt.errors.full_messages_for(:is_income).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<p><%= link_to "Home", root_path %></p>