<h1>New Receipt</h1>

<%= form_with model: @receipt do |form|%>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date, :value => Time.now.strftime("%Y-%m-%d") %>
    <% @receipt.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<!--  <div>
    <%#= form.label :total %><br>
    <%#= form.number_field :total, min: 0, step: 0.01 %>
    <%# @receipt.errors.full_messages_for(:total).each do |message| %>
      <div><%#= message %></div>
    <%# end %>
  </div>-->

  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
    <% @receipt.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_income %><br>
    <%= form.check_box :is_income %>
    <% @receipt.errors.full_messages_for(:is_income).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Remove ?</th>
    </tr>
  <turbo-frame id="<%= form.field_id(:receipt_details) %>" class="contents">
    <%#= render "receipt_details/new", receipt_detail: @receipt_detail %>
    <%= form.fields_for :receipt_details do |detail_form| %>
      <tr>
      <td>
<!--        <%#= detail_form.label :name %><br>-->
        <%= detail_form.text_field :name %>
        <%# @receipt_detail.errors.full_messages_for(:name).each do |message| %>
<!--          <div><%#= message %></div>-->
        <%# end %>
      </td>

      <td>
<!--        <%#= detail_form.label :price %><br>-->
        <%= detail_form.number_field :price, min: 0, step: 0.01 %>
        <%# @receipt_detail.errors.full_messages_for(:price).each do |message| %>
<!--          <div><%#= message %></div>-->
        <%# end %>
      </td>

      <td>
<!--        <%#= detail_form.label :quantity %><br>-->
        <%= detail_form.number_field :quantity, min: 1, step: 1 %>
        <%# @receipt_detail.errors.full_messages_for(:quantity).each do |message| %>
<!--          <div><%#= message %></div>-->
        <%# end %>
      </td>
      <td>
      <% if detail_form.object_id %>
        <%= detail_form.check_box :_destroy, title: "Check to delete detail" %>
      <% end %>
      </td>
      </tr>
    <% end %>
  </turbo-frame>
  </table>
  <%= form.submit "Add detail",
                  formmethod: "post",
                  formaction: add_detail_receipts_path(id: form.object),
                  data: { turbo_frame: form.field_id(:receipt_details)},
                  name: "add_detail" %>

  <%= form.submit "Update form",
                  formmethod: "post",
                  formaction: add_detail_receipts_path(id: form.object),
                  data: { turbo_frame: form.field_id(:receipt_details)},
                  name: "add_detail" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<p><%= link_to "Home", root_path %></p>