<ul>
    <li>Date : <%= @receipt.date.strftime("%d-%m-%Y") %></li>
    <li>Location : <%= @receipt.location %> </li>
    <li>Store : <%= @receipt.store %> </li>
    <li>Comment : <%= @receipt.comment %> </li>
    <li>Income : <%= @receipt.is_income ? "Yes" : "No" %> </li>
    <% unless @receipt.receipt_prices.nil? %>
    <table>
      <tr>
        <th>Account</th>
        <th>Price</th>
      </tr>
      <% @receipt.receipt_prices.each do |r_price| %>
        <tr>
          <td><%= Account.find(r_price.account_id).name %></td>
          <td><%= number_to_currency(r_price.price, format: "%n") %> €</td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"> Total : <%= number_to_currency(@receipt.receipt_prices.sum(:price), format: "%n") %> €</td>
      </tr>
    </table>
    <% end %>
    <% unless @receipt.receipt_details.nil? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
      </tr>
      <% @receipt.receipt_details.each do |detail| %>
        <tr>
          <td><%= detail.name %></td>
          <td><%= number_to_currency(detail.price, format: "%n") %> €</td>
          <td><%= detail.quantity %></td>
          <td><%= detail.receipt_category.name %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"> Total : <%= number_to_currency(@receipt.receipt_details_subtotal, format: "%n") %> €</td>
      </tr>
    </table>
    <% end %>
    <% unless @receipt.receipt_discounts.nil? %>
    <table>
      <tr>
        <th>Comment</th>
        <th>Discount</th>
      </tr>
      <% @receipt.receipt_discounts.each do |discount| %>
        <tr>
          <td><%= discount.comment %></td>
          <td><%= number_to_currency(discount.discount, format: "%n") %> €</td>
        </tr>
      <% end %>
    </table>
  <% end %>
</ul>

<%= link_to "All receipts", receipts_path %>
