<ul>
    <li>Date : <%= @receipt.date.strftime("%d-%m-%Y") %></li>
    <li>Comment : <%= @receipt.comment %> </li>
    <li>Income : <%= @receipt.is_income ? "Yes" : "No" %> </li>
    <% unless @receipt.receipt_details.nil? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
      </tr>
      <% @receipt.receipt_details.each do |detail| %>
        <tr>
          <td><%= detail.name %></td>
          <td><%= detail.price %></td>
          <td><%= detail.quantity %></td>
          <td><%= detail.receipt_category.name %></td>
        </tr>
      <% end %>
    </table>
    <% end %>
<!--    <li>Total : <%#= @receipt.total %> €</li>-->
</ul>

<%= link_to "All receipts", receipts_path %>
